@{
    ViewBag.Title = "Adugarea cartii";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h3>Formular pentru adaugarea unei carti</h3>
    <form method="post" action="">

        <table>
            <tr>
                <td>
                    <p>Introdu numele cartii: </p>
                </td>
                <td>
                    <input type="text" name="Name"/>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Introdu autorul:</p>
                </td>
                <td>
                    <input type="text" name="Author"/>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Introdu pretul:</p>
                </td>
                <td>
                    <input type="text" name="Price"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-primary" type="submit" value="Trimite"/>
                </td><td></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>